.onClickDiv {
    height: 100px;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 550px) {
    .onClickDiv {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .onClickDiv {
        width: 33%;
    }
}

.value_span {
    font-size: 90px;
}

h1{
    width: 100%;
    text-align: center;
}